{#
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
  #}
{% import 'appbuilder/general/lib.html' as lib %}
{% set serverRoot =  request.script_root %}
{% set walkMeEnabled = appbuilder.app.config.get('WALKME_ENABLED') %}
<html>

<head>
  <title>
    {% block title %}
    {% if title %}
    {{ title }}
    {% elif appbuilder and appbuilder.app_name %}
    {{ appbuilder.app_name }}
    {% endif %}
    {% endblock %}
  </title>
  {% block head_meta %}{% endblock %}
  {% block head_css %}
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static' , filename='assets/stylesheets/semantic/semantic.min.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static' , filename='assets/images/guavus.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='appbuilder/css/flags/flags16.css') }}" />
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static' , filename='appbuilder/css/font-awesome.min.css') }}">
  <input type="hidden" id="app_prefix" name="app_prefix" value="{{ serverRoot }}">
  {% for entry in get_unloaded_chunks(css_manifest('theme'), loaded_chunks) %}
  <link rel="stylesheet" type="text/css" href="{{  url_for('static' , filename='assets/dist/'+entry) }}" />
  {% endfor %}
  {% if entry %}
  {% set entry_files = css_manifest(entry) %}
  {% for entry in get_unloaded_chunks(entry_files, loaded_chunks) %}
  <link rel="stylesheet" type="text/css" href="{{  url_for('static' , filename='assets/dist/'+entry) }}" />
  {% endfor %}
  {% endif %}
  {% endblock %}
  {% with filename="theme" %}
  {% include "superset/partials/_script_tag.html" %}
  {% endwith %}

  <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() if csrf_token else '' }}">
</head>

<body {% if standalone_mode %}class="standalone" {% endif %}>
  <div class="full height">
    {% include "superset/custom_dashboard.html" %}
    <div class="ui segment">
      <h2 class="ui header">Intelligence / Dashboards</h3>
      <br>
      <br>
      <h1>IoT Analytics & AI Services</h1>
      <br>
      <div class="ui hidden divider"></div>
      {% include "superset/custom_dash_tabs.html" %}
     {% block body %} 
      <div {% if activetabtype == 'dsb' %} class="ui bottom attached tab segment active" {% else %} class="ui bottom attached tab segment" {% endif %}
       data-tab="dashboard">
        <div class="ui grid">
          <div class="two wide column" {% if dashboards['dsb']|length < 2 %} style="display: none;" {% endif %}>
                <div class="ui vertical menu">
                {% for dash in dashboards['dsb'] %}
                  {% if dash.url.split('/')[3].split('_')[0] == 'dsb' %}
                    <a href="{{ dash.url }}" 
                    {% if dashboard_id ==  dash.url.split('/')[3] %} class="item active" {% else %} class="item" {% endif %}
                    name="dsb" ><h3>{{ dash.title }}</h3></a>
                  {% endif %}
                {% endfor %}
              </div>
          </div>      
          <div 
          {% if dashboards['dsb']|length < 2 %} class="sixteen wide column" {% else %} class="fourteen wide column" {% endif %}
          >
            {% if activetabtype == 'dsb' %}
            {% include "superset/custom_dash_content.html" %}
            {% endif %}
          </div>
        </div>
      </div>
      <div {% if activetabtype == 'svc' %} class="ui bottom attached tab segment active" {% else %} class="ui bottom attached tab segment" {% endif %}
       data-tab="service">
        <div class="ui grid">
          <div class="two wide column" {% if dashboards['svc']|length < 2 %} style="display: none;" {% endif %} >
            <div class="ui vertical menu">
              {% for dash in dashboards['svc'] %}
              {% if dash.url.split('/')[3].split('_')[0] == 'svc' %}
                <a href="{{ dash.url }}" 
                {% if dashboard_id ==  dash.url.split('/')[3] %} class="item active" {% else %} class="item" {% endif %}
                name="svc"><h3>{{ dash.title }}</h3></a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div {% if dashboards['svc']|length < 2 %} class="sixteen wide column" {% else %} class="fourteen wide column" {% endif %}
          >
            {% if activetabtype == 'svc' %}
            {% include "superset/custom_dash_content.html" %}
            {% endif %}
          </div>
        </div>
      </div>
      <div {% if activetabtype == 'aut' %} class="ui bottom attached tab segment active" {% else %} class="ui bottom attached tab segment" {% endif %}
       data-tab="automation">
       <div class="ui grid">
          <div class="two wide column" {% if dashboards['aut']|length < 2 %} style="display: none;" {% endif %}>
            <div class="ui vertical menu">
              {% for dash in dashboards['aut'] %}
              {% if dash.url.split('/')[3].split('_')[0] == 'aut' %}
                <a href="{{ dash.url }}"
                {% if dashboard_id ==   dash.url.split('/')[3]  %} class="item active" {% else %} class="item" {% endif %}
                 name="aut"><h3>{{ dash.title }}</h3></a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div {% if dashboards['aut']|length < 2 %} class="sixteen wide column" {% else %} class="fourteen wide column" {% endif %}>
            {% if activetabtype == 'aut' %}
            {% include "superset/custom_dash_content.html" %}
            {% endif %}
          </div>
        </div>
    </div>
    {% endblock %}
    {% include "superset/custom_dash_modal.html" %}
    </div>
  </div>

  <script src="{{ url_for('static' , filename='assets/stylesheets/semantic/jquery.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/stylesheets/semantic/semantic.min.js') }}"></script>
  {% if walkMeEnabled %}
  <script type="text/javascript">(function () { var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/fe8e118680a14f439c78916022601810/test/walkme_fe8e118680a14f439c78916022601810_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig = { smartLoad: true }; })();
  </script>
  {% endif %}
  <script>
    $('.menu .item').tab();
    $('.menu .item').on('click', function () {
      $('.menu .item').removeClass('active');
      $(this).addClass('active');
      // identify selected tab
      var tabid = $(this)[0].id;
      var anchorEle = document.getElementsByName(tabid)[0];
      if(anchorEle){
        // programatically click to load dashboard on tab change
        anchorEle.click()
      }
    });
  </script>

</body>

</html>